<% admin_stats %>

<h3>Basic Stats</h4>
You have <%= @total_number_of_jobs || "an error for your" %> jobs:
<br><%= @total_number_of_inquiries || "We have an error for your" %> inquiries
<br><%= @total_number_of_tentative || "We have an error for your" %> tentative jobs
<br><%= @total_number_of_completed || "We have an error for your" %> completed jobs
<br><%= @total_number_of_confirmed || "We have an error for your" %> confirmed jobs
<br><%= @total_number_of_postponed || "We have an error for your" %> postponed jobs
<br><%= @total_number_of_cancelled || "We have an error for your" %> cancelled jobs
<br>
<br>
