<% admin_stats %>

<h3>Basic Stats</h4>
<table>
  <thead>
    <tr>
      <th>Job Summaries</th>
      <th>Numbers</th>
      <th>Financial Summaries</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
	<tr>
		<td>Total jobs: </td>
		<td><%= @total_number_of_jobs || "an error for your" %>	</td>
	</tr>
	<tr>
		<td>Inquires: </td>
		<td><%= @total_number_of_inquiries || "We have an error for your" %> </td>
	</tr>
	<tr>
		<td>Tentative: </td>
		<td><%= @total_number_of_tentative || "We have an error for your" %> </td>
	</tr>
	<tr>
		<td>Completed: </td>
		<td><%= @total_number_of_completed || "We have an error for your" %> </td>
	</tr>
	<tr>
		<td>Confirmed: </td>
		<td><%= @total_number_of_confirmed || "We have an error for your" %> </td>
	</tr>
	<tr>
		<td>Postponed: </td>
		<td><%= @total_number_of_postponed || "We have an error for your" %> </td>
	</tr>
	</tr>
	<tr>
		<td>Cancelled: </td>
		<td><%= @total_number_of_cancelled || "We have an error for your" %> </td>
	</tr>

  </tbody>
</table>

Total upcoming income:
<%= number_to_currency(@jobs.map { |a| a.total_amount }.sum) %>