<h1>Admins#edit</h1>
<p>Find me in app/views/admins/edit.html.erb</p>

<h2>Admin Info:</h2>

<%= form_with model: @admin do |form| %>
  <p>First Name: <%= form.text_field :first_name %></p>
  <p>Last Name: <%= form.text_field :last_name %></p>
  <p>Phone: <%= form.text_field :phone %></p>
  <p>Email: <%= form.text_field :email %></p>
  <p>Address 1: <%= form.text_field :address_1 %></p>
  <p>Address 2: <%= form.text_field :address_2 %></p>
  <p>City: <%= form.text_field :city %></p>
  <p>State: <%= form.text_field :state %></p>
  <p>Zip: <%= form.text_field :zip %></p>

  <%= form.submit "Save" :class => 'btn btn-info glyphicon' %>

<% end %>
