<h4>Submit invoice for <%= @invoice.id %> </h4> 


<%= form_for @invoice, url: user_invoice_path(@invoice.user_id) do |form| %><!-- is this the right value??? -->
<%# byebug %>
	<%= form.label :invoice_amount, "Invoice Amount " %>
	<%= form.number_field :invoice_amount, value: @invoice.invoice_amount, placeholder: "#{number_to_currency(@invoice.invoice_amount)} (USD)" %></p>

    <%= form.hidden_field :job_id, :value => @invoice.job_id %>
    <%= form.hidden_field :user_id, :value => @invoice.user_id %>
    <%= form.hidden_field :paid, :value => true %>
    <%= form.hidden_field :id, :value => @invoice.id %>
    <%= form.hidden_field :date_invoice_sent, :value => Time.now %>

	<%= form.submit "Submit Invoice" %>

<% end %>
