<h3>All Invoices for <%= current_user.first_name %></h3>
<table>
  <thead>
    <tr>
      <th>Date</th>
      <th>Amount</th>
      <th></th>
    </tr>
  </thead>
  <tbody>

<% @invoices.each.with_index(1) do |invoice, i| %>
	<tr>
		<td><%= i %>. <%= invoice.date_invoice_sent.strftime("%B %d, %Y") %></td>
		<td><%= number_to_currency(invoice.invoice_amount) %></td>
		<td><%= invoice.job_id %></td>

		<%#= hidden_field_tag :user_id, :value => invoice.user_id %>
		<%#= hidden_field_tag :job_id, :value => invoice.job_id %>

<%#byebug%>
		<td><%= link_to "Submit", user_invoice_path(id: invoice.user_id) %></td> 
	</tr>
<% end %>

</tbody>

<br>


<!--    
show all the invoices for the the current_user
-->	
should create a new invoice
will probably need to add columns to the table for DESCRIPTION, REQUESTED PAY AMOUNT

<br>create a new invoice_id
<br>update that invoice_id - user submits and invoice is marked as paid
<br>show that invoice_id


