<h2>Job Info:</h2>


<div>
  <b>Admin Info:</b> <!-- this will break is admin_id of Jobs is nil -->
  <br><%= admin_of_job.first_name.to_s %> <%= admin_of_job.last_name.to_s %>
  <br><%= link_to admin_of_job.email.to_s %>
  <br><%= call_to admin_of_job.phone.to_s %>
</div>
<br>

<div>
    <b>Client Info:</b>
    <%# binding.pry %>
    <br> <%= @client.first_name.to_s %> <%= @client.last_name.to_s %>    
    <br> <%= call_to @client.phone.to_s %>    
    <br> <%= mail_to @client.email.to_s %>    
    <br>
    <br>
    <br>
    <br><%# @job.job_users[0].user.first_name.to_s %> <%# @job.job_users[0].user.last_name.to_s %>
    <br><%# call_to @job.job_users[0].user.phone.to_s %>
    <br><%# mail_to @job.job_users[0].user.email.to_s %>
    <br><%# link_to "Edit Client", edit_client_path(@job.client.id) %>
</div>
<br>
<div>

  <b>Contactor Team:</b>
  <td><%# all_contractors(@job).each do |c| %></td>
  <br><td><%# link_to c.first_name.to_s.concat(" ", c.last_name.to_s), edit_contractor_path(c.id) %></td>
  <%# end %>
</div>
<br>

<div>
  <%= form_with model: @job do |form| %>
    <b>Job Info:</b>

  <br>Status: <%= form.select :status, options_for_select([['Inquiry'], ['Tentative'], ['Confirmed'], ['Completed'], ['Postponed'], ['Cancelled']], @job.status)  %>
    <br>Date: <%= form.date_select :job_start_datetime, order: [:day, :month, :year] %>
    <br>
    <br>Address 1: <%= form.text_field :address_1 %>
    <br>Address 2: <%= form.text_field :address_2 %>
    <br>City: <%= form.text_field :city %>
    <br>State: <%= form.text_field :state %>
    <br>Zip: <%= form.text_field :zip %>
    <br>Description: <%= form.text_area :description, size: "40x20" %>
    <br>
    <br>View on map: <%= link_to @job.city, "https://www.google.com/maps/place/#{@job.zip}", target: :_blank %>, <%= @job.state %>



    <br>Historical weather average on <%= @job.datetime_for_job_start %> in <%= @job.city %>, <%= @job.state %>: Coming soon. Weather API
    <br>Sunrise: Coming soon. Weather API
    <br>Sunset: Coming soon. Weather API
    <br>
    <br>Last updated: <%= @job.updated_at.strftime("%B %d, %Y at %I:%M%P") %>

    <br><%= form.submit "Save" %>
<%# byebug %>

  <% end %>
</div>