<h2>Job Details for <%= @client.first_name.concat(" ", @client.last_name) %> on <%= @job.job_start_datetime.strftime("%a, %b %d, %Y") %>
</h2>

<div>
  <h4>Admin Info:</h4> <!-- this will break is admin_id of Jobs is nil -->
  <br><%= admin_of_job.first_name.to_s %> <%= admin_of_job.last_name.to_s %>
  <br><%= link_to admin_of_job.email.to_s %>
  <br><%= call_to admin_of_job.phone.to_s %>
</div>
<br>

<div>
    <h4>Client Info:</h4>
    <br> <%= link_to @client.first_name.concat(" ", @client.last_name), edit_client_path(@client.id) %>   
    <br> <%= call_to @client.phone.to_s %>    
    <br> <%= mail_to @client.email.to_s %>    
    <br><%# @job.invoices[0].user.first_name.to_s %> <%# @job.invoices[0].user.last_name.to_s %>
    <br><%# call_to @job.invoices[0].user.phone.to_s %>
    <br><%# mail_to @job.invoices[0].user.email.to_s %>
    <br><%# link_to "Edit Client", edit_client_path(@job.client.id) %>
</div>
<br>

<div>
  <h4>Contactor Team:</h4>
  <td><%# all_contractors(@job).each do |c| %></td>
  <br><td><%# link_to c.first_name.to_s.concat(" ", c.last_name.to_s), edit_contractor_path(c.id) %></td>
  <%# end %>
  <%= button_to "add a new contractor for this job" %>
  <br>this should send to a page to create OR add an existing contractor
  <br>should associate this job_id AND admin_id with that contractor  
</div>
<br>

<div>
  <%= form_with model: @job do |form| %>
    <h4>Job Info:</h4>

  <br>Status: <%= form.select :status, options_for_select([['Inquiry'], ['Tentative'], ['Confirmed'], ['Completed'], ['Postponed'], ['Cancelled']], @job.status)  %>
    <br>Date: <%= form.date_select :job_start_datetime, order: [:day, :month, :year] %>
    <br>
    <br>Address 1: <%= form.text_field :address_1 %>
    <br>Address 2: <%= form.text_field :address_2 %>
    <br>City: <%= form.text_field :city %>
    <br>State: <%= form.text_field :state %>
    <br>Zip: <%= form.text_field :zip %>
    <br>Description: <%= form.text_area :description, size: "40x20" %>
    <br>
    <br>View on map: <%= link_to @job.city, "https://www.google.com/maps/place/#{@job.zip}", target: :_blank %>, <%= @job.state %>
    <br>

    <br>Historical weather average on <%= @job.datetime_for_job_start %> in <%= @job.city %>, <%= @job.state %>: Coming soon. Weather API
    <br>Sunrise: Coming soon. Weather API
    <br>Sunset: Coming soon. Weather API
    <br>
    <br>Last updated: <%= @job.updated_at.strftime("%a, %b %d, %Y at %l:%M%P") %>
</div>

<div>
    <h4>Finances:</h4>
    <% if current_user.admin?%>
      <br>Total Quoted: <%= form.number_field :total_amount, placeholder: number_to_currency(@job.total_amount) %> 
      <% else %>
      <br>Total Quoted: <%= number_to_currency(@job.total_amount) %> 
    <% end %>
    
    <br>Total Paid: <%= number_to_currency(@total_paid) %>
    <br>Remaining Balance: <%= number_to_currency(@job.total_amount - @total_paid) %>
    <br><%= link_to "Make a Payment", new_job_payment_path(@job) %>

    <% if current_user.admin?%>
      <%= link_to "Issue a Refund", new_job_payment_path(@job) %>
    <% end %>
<br>
  <h4>Payment History:</h4>
    <table>
      <thead>
        <tr>
          <th>Type</th>
          <th>Amount</th>
          <th>Date</th>
        </tr>
      </thead>

    <% @each_payment.map.each do |p| %>
      <tbody>
        <td><%= p.payment_type %></td>
        <td><%= number_to_currency(p.amount) %></td>
        <td><%= p.created_at.strftime("%a, %b %d, %Y at %l:%M%P") %></td>
        <% end %>
      </tbody>
    </table>
    <br>
    <br><%= form.submit "Save" %>
  <% end %>
</div>