<h2>All Jobs</h2>
<table>
  <thead>
    <tr>
      <th>Date</th>
      <th>Client</th>
      <th>Status</th>
      <th>Admin</th>
      <th>Delete</th>
      <th></th>
    </tr>
  </thead>

  <tbody>

<% @jobs.each.with_index(1) do |job, i| %>
<tr>
  <td><%= i %>. <%= job.datetime_for_job_start %></td>
  <td><%= link_to job.job_users[0].user.first_name, edit_job_path(job.id) %></td>

  
  <%# link_to job.client.first_name, edit_job_path(job.id) %></a></td>
  <td><%= job.status.titleize %></td>
  <td><% u = job.job_users %><%= mail_to u.find_by(params[:id]).user.email, u.find_by(params[:id]).user.first_name %></td>

  <td><%= link_to "Delete", job_path(job.id), data: { confirm: "Delete Job?"}, method: :delete %></td>

<% end %>
</tr>
  </tbody>
</table>


<%# @job.job_users[0].user %>