<h1>Jobs#new</h1>
<p>Find me in app/views/jobs/new.html.erb</p>

<br>

<div>
  <%= form_with model: @job do |form| %>
    <b>Job Info:</b>
    <br>Status: <%= form.select :status, options_for_select([['Inquiry'], ['Tentative'], ['Confirmed'], ['Completed'], ['Postponed'], ['Cancelled']])  %>
    <br>
    <br><%= form.date_field :job_start_datetime, min: Date.today %>
    <br><%= form.text_field :address_1, placeholder:"Address 1" %>
    <br><%= form.text_field :address_2, placeholder:"Address 2" %>
    <br><%= form.text_field :city, placeholder:"City" %>
    <br><%= form.text_field :state, placeholder:"State" %>
    <br><%= form.text_field :zip, placeholder:"Zip" %>
    <br><%= form.text_area :description, placeholder:"Job Description", size: "60x10" %>
    <br><%= form.hidden_field :admin_id, value: rand(1..10) %>
    <br><%= form.hidden_field :client_id, value: rand(1..10) %>

    <br>
    <br>
    <br>
    <br>

    <br><%= form.submit "Save" %>

  <% end %>
</div>