<h1>New Inquiry & Client</h1>

<br>
<div>

<%= form_for @job do |c| %>

 <br><%= c.date_field :job_start_datetime, min: Date.today %>
    <br><%= c.text_field :address_1, placeholder: "Address 1" %>
    <br><%= c.text_field :address_2, placeholder: "Address 2" %>
    <br><%= c.text_field :city, placeholder: "City" %>
    <br><%= c.text_field :state, placeholder: "State" %>
    <br><%= c.text_field :zip, placeholder: "Zip" %>
    <br><%= c.text_area :description, placeholder: "Please tell us a bit about the job.", size: "60x10" %>
    <br><%# c.hidden_field :admin_id, value: rand(1..10) %>
    <br><%# c.hidden_field :client_id, value: rand(1..10) %>
    <br>

    <%= c.hidden_field :admin_id, :value => params[:user_id] || rand[1..4] %>
    <%= c.hidden_field :client_id, :value => params[:user_id] %> <%# how to set or select a client for this job? %>

  <%= c.fields_for :user_attributes do |j| %>

    <%# if current_user && current_user.admin?%>
      <br><%#= j.hidden_field :user_id, :value => current_user.id %>
    <%# end %>
    
    
    <br><%= j.hidden_field :user_id, :value => current_user.id %>
    <br><%= j.label :first_name %><%= j.text_field :first_name %>
    <br><%= j.label :last_name %><%= j.text_field :last_name %>
    <br><%= j.label :email %><%= j.text_field :email %>


<% end %>
     
      <%# j.hidden_field :id, :value => @job.id %>

    <%# j.hidden_field :admin_id, :value => current_user.id %>
    <%# form.hidden_field :client_id, :value => client_id %>
    

    <br><%= c.submit  %>
<% end %>


</div>
