<div>
  <% if current_user.client? %>
    <h2>New Job Inquiry for <%= current_user.first_name %> </h2>
    <%= form_for @job do |j| %>
      <%= render partial: "job_form", locals: {j: j}%>
      <br><%= j.submit :class => 'btn btn-info glyphicon' %>
    <% end %>

  <% else %>

    <h2>New Inquiry & Client</h2>
    <%= form_for @job do |j| %>
    <h3>Job Details:</h3>
      <%= render partial: "job_form", locals: {j: j}%>
      <%= j.fields_for :user_attributes do |c| %>
        <h3>Client Details:</h3>
        <%= render partial: "/clients/client_form", locals: {c: c} %>
      <% end %>
      <br><%= j.submit :class => 'btn btn-info glyphicon'%>
    <% end %>
<% end %>

</div>