<h1>Jobs#show</h1>
<p>Find me in app/views/jobs/show.html.erb</p>
<br>
<div>

    <b>Job Info:</b>
    <br>Status: <%= @job.status %>
    <br>
    <br>Date: <%= @job.datetime_for_job_start %>
    <br>Address 1: <%= @job.address_1 %>
    <br>Address 2: <%= @job.address_2 %>
    <br>City: <%= @job.city %>
    <br>State: <%= @job.state %>
    <br>Zip: <%= @job.zip %>
    <br>Description: <%= @job.description %>
    <br>
</div>


<h1><%# @user.first_name %></h1>

<p><%# @user.email %></p>

<ul>
  <li><%= link_to "Edit", edit_job_path(@job) %></li>
  <li><%= link_to "Destroy", job_path(@job), method: :delete, data: { confirm: "Are you sure?" } %></li>
</ul>
