<h1>Jobs#show</h1>
<p>Find me in app/views/jobs/show.html.erb</p>

<br>

<div>

    <b>Job Info:</b>
    <br>Status: <%= @job.status %>
    <br>
    <br>Date: <%= @job.datetime_for_job_start %>
    <br>Address 1: <%= @job.address_1 %>
    <br>Address 2: <%= @job.address_2 %>
    <br>City: <%= @job.city %>
    <br>State: <%= @job.state %>
    <br>Zip: <%= @job.zip %>
    <br>Description: <%= @job.description %>
    <br>
    <br>
    <br>
    <br>
    <br>

</div>