<h3>All Clients</h3>
<table>
  <thead>
    <tr>
      <th>Client Name</th>
      <th>Phone</th>
      <th>Email</th>
      <th>Job Date</th>
      <th>Job Link</th>

    </tr>
  </thead>

  <tbody>

<% @clients.each.with_index(1) do |client, i| %>
<tr>
  <td><%= i %>. <%= link_to client.first_name.concat(" ", client.last_name), edit_client_path(client.id) %></a></td>
  <td> <%= call_to client.phone %> </td>
  <td> <%= mail_to client.email %> </td>
  <td> <%= "placeholder"  %> </td>
  <td> <%= link_to "Jobs", user_path(client.id) %> </td>

  <td> <%# link_to client.admin.first_name, admin_path(client.id) %> </td>
<% end %>

<% %>


</tr>
  </tbody>
</table>



